#!/usr/bin/make -f

%:
	dh ${@} --parallel

override_dh_auto_install:
	chmod 755 scripts/build/binary_efi

	dh_auto_install -- DESTDIR=debian/live-build

	# Removing unused files
	rm -f debian/live-build/usr/share/doc/live-build/COPYING

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_link:
	dh_link

	# workaround dh_link convertion of absolute symlinks to relvative symlinks
	rm -rf debian/live-build/usr/share/live/build/bootloaders
	cp -a share/bootloaders debian/live-build/usr/share/live/build/bootloaders
	# Kali fix: add missing libmenu.c32 (upstream fix would add the
	# symlink in the git repo directly)
	for bootloader in extlinux isolinux pxelinux syslinux; do \
	    ln -sf /usr/lib/syslinux/modules/bios/libmenu.c32 \
	    	   debian/live-build/usr/share/live/build/bootloaders/$$bootloader/ ; \
	    ln -sf /usr/lib/syslinux/modules/bios/libgpl.c32 \
	    	   debian/live-build/usr/share/live/build/bootloaders/$$bootloader/ ; \
	done
